.rc__ingredients-container {
    height: 75%
}

.rc__ingredient-container {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 5px;
}

.rc__add-ingredient-title {
    text-align: center;
}