<section class="rc__ingredients-container rc__flex-container rc__flex-basis-0">
    <section class="rc__ingredient-container rc__flex-1">
        <h2 class="rc__add-ingredient-title">Grains</h2>
        <rc-ingredient-form
            [displayFn]="displayGrain"
            [options]="grainOptions | async"
            [filterValueGetter]="grainFilterValueGetter"
            (addedIngredient)="addIngredient($event)" 
            weightUnit="(lbs)"
            placeholder="Grain"></rc-ingredient-form>
        <div class="rc__ingredient-results-container rc__flex-container rc__flex-basis-0" *ngFor="let grainIngredient of recipe.ingredients.grains">
            <span class="rc__ingredient-results-name rc__flex-3">{{ grainIngredient.grain.name }}</span>
            <span class="rc__ingredient-results-weight rc__flex-1">{{ grainIngredient.weight }} lbs</span>
        </div>
    </section>
    <section class="rc__ingredient-container rc__flex-1">
        <h2 class="rc__add-ingredient-title">Hops</h2>
        <rc-ingredient-form
            [displayFn]="displayHop"
            [options]="hopOptions | async"
            [filterValueGetter]="hopFilterValueGetter"
            (addedIngredient)="addIngredient($event)"
            weightUnit="(oz)"
            placeholder="Hop"></rc-ingredient-form>
        <div class="rc__ingredient-results-container rc__flex-container rc__flex-basis-0" *ngFor="let hopIngredient of recipe.ingredients.hops">
            <span class="rc__ingredient-results-name rc__flex-3">{{ hopIngredient.hop.Name }}</span>
            <span class="rc__ingredient-results-weight rc__flex-1">{{ hopIngredient.weight }} oz</span>
        </div>
    </section>
    <section class="rc__ingredient-container rc__flex-1">
        <h2 class="rc__add-ingredient-title">Yeast</h2>
        <rc-ingredient-form
            [displayFn]="displayYeast"
            [options]="yeastOptions | async"
            [filterValueGetter]="yeastFilterValueGetter"
            (addedIngredient)="addIngredient($event)"
            placeholder="Yeast"></rc-ingredient-form>
        <div class="rc__ingredient-results-container rc__flex-container rc__flex-basis-0" *ngFor="let yeastIngredient of recipe.ingredients.yeasts">
            <span class="rc__ingredient-results-name rc__flex-3">{{ yeastIngredient.yeast.Name }}</span>
        </div>
    </section>
</section>
<section class="rc__recipe-stats-container rc__flex-container rc__flex-basis-0">
    <rc-recipe-stats class="rc__flex-1" [recipe]="recipe"></rc-recipe-stats>
</section>
