.rc__ingredients-container {
    height: 75%
}

.rc__ingredient-input,
.rc__ingredient-weight-input,
.rc__add-ingredient,
.rc__ingredient-results-container,
.rc__add-ingredient {
    margin-left: 5px;
}

.rc__ingredient-container {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 5px;
}

.rc__add-ingredient-title {
    text-align: center;
}

.rc__ingredient-weight-input {
    max-width: 90px;
}