.rc__ingredients-container {
    min-height: 75%
}

.rc__add-ingredients-accordian {
    min-width: 400px;
}

.rc__ingredients-display-table {
    width: 100%;
}

.rc__added-ingredients-tabs {
    margin-left: 5px;
}

.rc__hops-table-notes {
    max-width: 50px;
}